@font-face {
    font-family: "AtkinsonHyperlegible-Regular";
    src: url("../font/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
    font-family: "AtkinsonHyperlegible-Italic";
    src: url("../font/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf");
}

@font-face {
    font-family: "AtkinsonHyperlegible-Bold";
    src: url("../font/Atkinson_Hyperlegible/at");
}

@font-face {
    font-family: "IBMPlexSans-Regular";
    src: url("../font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBMPlexSans-Bold";
    src: url("../font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
  }

body {
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #00274C;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 15px 20px;
    line-height: 2em;
}

nav a {
    color: white;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

nav a:active, nav a.active {
    font-weight: bold;
    text-decoration: underline;
    background-color: #FFCB05;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus{
    top: 20px;
}

*:focus{
    border: 2.5px solid;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-family: "IBMPlexSans-Bold", Arial, Helvetica, sans-serif;
    margin: .67em 0;
}

h2 {
    font-size: 1.5em;
    color: #00274C;
    margin: .75em 0;
    text-decoration: underline;
}

h3 {
    font-size: 1.17em;
    color: #9A3324;
    margin: .83em 0 .4em 0;
}

h4{
    font-size: 1em;
    margin: 0.5em 0 .5em 0;
}

h2, h3, h4, p, ul, li {
    font-family: "AtkinsonHyperlegible-Regular", Arial, Helvetica, sans-serif;;
}

p{
    line-height: 1.15em;
}

p a {
    color: #2F65A7;
    text-decoration: underline;
}

.container{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: .2fr 5fr .2fr;
    grid-gap: 5px;
}

.text-block{
    grid-column: 2 / span 1;
    padding: 0 0 5% 0;
}

img {
    display: block;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0 auto;

}

.logo {
    background-color: #00274C;
}

.logoImage {
    display: block;
    margin: 0 auto;
    width: 30%;
}

footer {
    background-color: #00274C;
    color: white;
    padding: 50px 0;
    text-align: center; 
    line-height: 2;
    padding: 5% 15%;
    width: 100%;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    margin: 20px;
    padding: 0;
}

ul li {
    font-family: "AtkinsonHyperlegible-Regular", Arial, Helvetica, sans-serif;
}

figcaption{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5%;
    font-family: "AtkinsonHyperlegible-Italic", Arial, Helvetica, sans-serif;
}

.card {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin: 2% 0;
}

.card1, .card2, .card3, .card4 {
    background-color: #CFC096;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card1, .card3 {
    grid-column: 1 / span 1;
}

.card2, .card4 {
    grid-column: 2 / span 1;
}

.card1, .card2 {
    grid-row: 1;
}

.card3, .card4 {
    grid-row: 2;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 2% 0;
    align-items:  center;
}

.gallery img, .twoImages img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.gallery1 {
    grid-column: 1 / span 2;
}

.gallery2 {
    grid-column: 3 / span 1;
}

.gallery3 {
 grid-column: 1 / span 1;
}

.gallery4 {
    grid-column: 2 / span 2;
}

.gallery1, .gallery2 {
    grid-row: 1;
}

.gallery3, .gallery4 {
    grid-row: 2;
}

.twoImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin: 5% 0;
}

.twoImages1 {
    grid-column: 1 / span 1;
}

.twoImages2 {
    grid-column: 2 / span 1;
}